body{
    margin: 0;
    padding: 0;
    background-color: #cecece;
    font-family: Helvetica;
    
}
.header{
    height: 100px;
    width: 100%;
    background-color: #000;
}
.navbar{
    height: 50px;
    width: 100%;
    background-color: #ef0629;
}
.content{
    height: auto;
    min-height: 700px;
    width: 100%;
    overflow: hidden;
}
.logos{
    height: 150px;
    width: 100%;
    background-color: #ef0629;
}
.footer{
    background-color: #1A1A1A;
    height: 300px;
    width: 100%;
}
.bottom-footer{
    height: 100px;
    width: 100%;
    background-color: #000;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
}
.logo{
    height: 100px;
    width: 250px;
    /* background-color: green; */
    float: left;
}
.top-navbar{
    float: left;
    height: 100px;
    width: 690px;
    /* background-color: blue; */
}
.top-navbar-menu{
    height: 40px;
    width: 690px;
    /* background-color: yellow; */
}
.search{
    height: 60px;
    width: 690px;
    /* background-color: pink; */
}
.logo h1{
    color: #ef0629;
}
.logo h1 span{
    color: #fff;
    font-style: italic;
}
.top-navbar-menu ul{
    margin: 0;
    padding: 0;
}
.top-navbar-menu ul li{
    float: right;
    list-style-type: none;
    color: #fff;
}
.top-navbar-menu ul li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 10px 20px;
    font-size: 14px;
}
.search-box{
    height: 35px;
    width: 400px;
    margin: 12px 0px 12px 100px;
}
.search-btn{
    background-color: #ef0629;
    color: #fff;
    padding: 10px;
}
.search-btn:hover{
    cursor: pointer;
    background-color: #Fff;
    color: #000;
}
.navbar-header{
    width: 250px;
    height: 50px;
    float: left;
    /* background-color: blue; */
}
.navbar-header h3{
    margin: 0;
    padding: 0;
    color: #fff;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 16px;
}
.menu{
    float: left;
    width: 690px;
    height: 50px;
    /* background-color: blue; */
}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu ul li{
    list-style-type: none;
    float: left;
}
.menu ul li a{
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    /* background-color: blue; */
    padding: 16px 30px;
}
.menu ul li a:hover{
    background-color: #000;
}
.left-content{
    min-height: 700px;
    height: auto;
    width: 230px;
    /* background-color: #fff; */
    margin: 0px 10px;
    float: left;
}
.right-content{
    margin: 0px 10px;
    float: left;
    min-height: 700px;
    height: auto;
    width: 670px;
    background-color: #fff;
}
.left-content ul{
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.left-content ul li{
    list-style-type: none;
}
.left-content ul li a{
    /* background-color: green; */
    display: block;
    padding: 15px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #cecece;
    transition: .5s;
    
}
.left-content ul li a:hover{
    color: #fff;
    
    background-color: #ef0629;
}
.left-box{
    width: 230px;
    height: 250px;
    background-color: #fff;
    margin: 10px 0;
}
.left-box h4{
    padding: 10px;
    font-size: 22px;
    border-bottom: 1px solid #000;
}
.slider{
    width: 670px;
    height: 250px;
    background-color: #ECBD75;
}
.product h4{
    padding: 10px;
    border-bottom: 1px solid #000;
}
.pro{
    width: 157px;
    height: 210px;
    /* background-color: blue; */
    margin: 5px;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 3px #000;
    transition: .5s;
    text-align: center;
}
.pro img{
    width: 140px;
    height: 140px;
}
.pro p{
    margin: 0;
    padding-top: 5px;
    font-size: 15px;
}
.pro a{
    background-color: #ef0629;
    font-size: 14px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
    padding: 5px 20px;
    border-radius: 5px;
    
}
.pro b{
    font-size: 14px;
    display: block;
}


.pro:hover{
    box-shadow: 0 0 20px #000;
    cursor: pointer;

}