<%- include("../../includes/header") %>
</div>
<div class="container mt-4" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-12">
            <h3>Student Page</h3>
        </div>
    </div>
</div>
<%- include("../../includes/footer") %>