<%- include("../includes/header") %>

            <div class="container" style="min-height: 700px;">
                <h1>About Page</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ducimus libero fugiat dolore iusto, suscipit ea nobis vero itaque doloremque minus consequatur sunt fugit nemo eligendi sint quod, tenetur iste?</p>
            </div>
<%- include("../includes/footer") %>